body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --background: #1c1c1c;
  --components: #2a2929;
  --neongreen: #3ecf8e;
}

header {
  background-color: var(--background);
  height: 8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--neongreen);
  border-bottom: 1px solid var(--neongreen);
}

main {
  background-color: var(--background);
  height: 37.4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: none;
}
button {
  background-color: var(--components);
  border: 1px solid var(--neongreen);
  border-radius: 10px;
  margin-top: 1rem;
  color: var(--neongreen);
  width: 8rem;
  transition: 0.7s;
}
button:hover {
  color: white;
  background-color: var(--neongreen);
  cursor: pointer;
}

.todo-container {
  background-color: var(--components);
  width: 80rem;
  max-height: 40rem;
  border-radius: 1rem;
  border: 1px solid var(--neongreen);
  margin-top: 3rem;
  overflow-y: auto;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background);
  border-top: solid 1px var(--neongreen);
  color: var(--neongreen);
}
footer h3 {
  margin-left: 30rem;
}
.socials {
  width: 5rem;
  display: flex;
  justify-content: space-between;
}
.individualTodo {
  background-color: var(--background);
  border: 1px solid var(--neongreen);
  border-radius: 10px;
  width: 90%;
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  justify-content: space-between;
  color: white;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.addNew {
  margin-bottom: 1vw;
}
input {
  width: 20rem;
  height: 2rem;
  background-color: var(--components);
  border: 1px solid var(--neongreen);
  color: white;
}
.spotifyPlayer {
  border: 1px solid var(--neongreen);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 20vw;
  margin-left: -10vw;
  height: 4.2vw;
}
